#mainDiv {
    font-size: 25px;
}
#mainDiv > p {
    background-color: green;
}
#mainDiv ~ p {
    background-color: yellow;
}
#mainDiv + p {
    background-color: pink;
}
.firstP {
    font-size: 30px;
}
h1 {
    background-color: gray;
}
a[href*="sweclockers"] {
    color: aquamarine;
}
a[href*="sydsvenskan"] {
    color: brown;
}
a[href*="webhallen"] {
    color: darkmagenta;
}
a[href*="second"] {
    color: darkgreen;
}
section p {
    background-color: red;
}
ul {
    list-style-type: lower-alpha;
}
ul li a {
    text-decoration: none;
}