#mainDiv {
    font-size: 25px;
}
.firstP {
    font-size: 30px;
}
a[href*="sweclockers"] {
    color: aquamarine;
}
a[href*="sydsvenskan"] {
    color: brown;
}
a[href*="webhallen"] {
    color: darkmagenta;
}
a[href*="second"] {
    color: darkgreen;
}